@import "../../../../styles/utils"

.Hero
    +wh(100%, $size*32)
    +bg($white)
    +oh
    +posr
    +df
    +fdc
    @media (orientation: portrait)
        +wh(100%, $size*42)

    .top, .bottom
        // +wh(100%, 50%)
        +f(1)
        +posr
        +oh
    .bottom
        +oh
        +p($size*2)
        // +mnh(max-content)
    .background
        +cen
        +whs(100%)
        +df
        // +dn
        +o(.35)
        filter: blur($size*.15)
        transform: translate(-50%, -50%) scale(1.1)
        img
            +f(1)
            // transform: scale(0.9)
            object-fit: cover
            // animation: zoomin 1s
    .text
        +cen
        +fdc
        +cenc
        +tac

        @media (orientation: landscape)
            +mnw(70%)
        h1, span
            +fs($size*5)
            +fw(900)
            +ls(calc($size/-7))
            +lh($size*4)
            font-style: italic
            +dm
            text-shadow: 0 $size*.25 #aaa
            /* edits */
            // +c(white)
            // text-shadow: 0 $size*.25 #111
        span
            +fs($size*5.5)
            +ls(calc($size/-6))
            // +c($accent-dark-2)
        h4
            +p($size $size*2)
            +fw(400)
            +fs($size*1.5)
            +mb($size)
            +c($black)
            +ls(calc($size/-10))
            // +c(white)
            // text-shadow: 0 $size*.1 #111
            // +dm
            // text-shadow: $size*.25 $size*.25 transparentize($black, .9)
        button
            +fs($size*1.2)
            +fw(900)
            +p($size*.5 $size*2)
            +bg(#111) 
            +bg($accent-dark)
            +rad($roundness)
            +bdrn
            +c($white)
            +cp
            // +o(0)

@keyframes zoomin
    0%
        transform: scale(.9)
    100%
        transform: scale(1)