@import "../../styles/utils"
    
.Cart
    +bg(white)
    +t(0)
    +r(0)
    +posf
    +p($size)
    +pt($size*5)
    +wh($size*18, 100%)
    +z(4)
    +df
    +fdc
    animation: slideout $transition
    
    +ls($size*.025)
    p
        +mb($size)
    box-shadow: -$size 0 $size transparentize($black, .95)
    button
        +bg(transparentize($accent-dark, .1))
        +trs($transition)
        +bdrn
        +c($white)
        +p($size $size*2)
        +fs($size)
        +cp
        +mb($size)
        &:hover
            +bg($accent-dark)
    .cart-items
        +f(1)
    .CartItem
        +df
        +jcb
        +bg($white)
        +p($size)
        +bdr(transparent)
        +bdr(#bbb)
        +trs($transition)
        +mb($size)
        +aic
        svg
            align-self: center
            +fl($grey)
            +trs($transition)
            +cp
            +rad($roundness)
            &:hover
                +fl($black)
        img
            +whs($size*2.5)
            object-fit: cover
            box-shadow: 0 0 $size transparentize($black, .75)
        span
            +w(60%)
            +tar
            h5
                +c($grey)
                +fw(400)
                +mb($size*.5)
            h6
                +fw(600)
                +c($blue)
        &:hover
            +bdr($grey)

@keyframes slideout
    0%
        +r(-100%)
    100%
        +r(0)